@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  /* color: white; */
  background: rgb(var(--color-bg));
}


@theme {
  /* fonts */
  --font-sans: var(--font-dm-sans), ui-sans-serif;
  --font-serif: var(--font-lora), ui-serif;

  /* colors */
  --color-black: #383838;
  --color-white: #F0EFF2;
  --color-gray: #7A7A7A;
}




/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Selection styles */
::selection {
  background: rgba(59, 130, 246, 0.2);
}

/* Ensure sections are properly positioned when navigating from navbar */
#home,
#about-us,
#events,
#team {
  scroll-margin-top: 100px;
}

.nav_link {
  @apply text-black font-['DM_Sans'] text-base font-medium no-underline transition-all duration-300 ease-in-out hover:scale-105 hover:-translate-y-[1px] hover:text-gray-600 whitespace-nowrap transform;
}


@keyframes logo-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}